apiVersion: v1
kind: PersistentVolume
metadata:
  name: k8s-pv-b00974730
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  gcePersistentDisk:
    pdName: kubernetes-disk
    fsType: ext4